:root {
  --base: #14120b;
  --card-bg: #1b1913;
  --card-bg-2: #423d35;
  --white: #edecec;
  --text-color: #edecec;
  --text-muted: #969592;
  --primary: #dd4407;
  --body-font: "Roboto", sans-serif;
  --header-font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--base);
  font-family: var(--body-font);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    opacity: 0.8;
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.btn {
  border-radius: 30px;
  padding: 6px 12px;
  border: none;
  background: none;
  color: var(--text-color);
  border: 1px solid transparent;

  &.btn-outline {
    border: 1px solid #333;
  }
  &.btn-white {
    background: var(--white);
    color: #000;
  }
  &.btn-big {
    padding: 12px 18px;
    font-size: 16px;
  }
}

.text-light {
  color: var(--text-color);
}

.text-primary {
  color: var(--primary);
}

header {
  position: sticky;
  top: 0;
  background: var(--base);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;

  .logo-container {
    width: 95px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 30px;
      font-size: 14px;
    }
  }
}

.hero-section {
  padding-block-start: 80px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  h1 {
    font-size: 34px;
  }

  h4 {
    color: var(--text-muted);
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.leading-container {
  padding-block-start: 80px;

  p {
    text-align: center;
  }

  .lead-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-block-start: 24px;
    gap: 10px;
    .lead {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #222121;
      border-radius: 5px;
      padding: 35px;
      background: #1b1913;
    }
  }
}

.demo {
  margin-block-start: 60px;

  img {
    border-radius: 5px;
  }
}

.engine {
  margin-block-start: 80px;

  .engine-container {
    border: 1px solid #222121;
    border-radius: 6px;
    padding: 20px;
    background: var(--card-bg);
    display: grid;
    align-items: center;
    grid-template-columns: auto 67%;
    gap: 30px;
    &.order-reverse {
      grid-template-columns: 67% auto;
      .text-container {
        order: 2;
      }
    }
  }

  .text-container {
    h6 {
      width: 90%;
      font-size: 22px;
      color: var(--text-muted);
      margin-bottom: 20px;
    }
  }

  img {
    border-radius: 4px;
  }
}
