:root {
  --base: #14120b;
  --card-bg: #1b1913;
  --card-bg-2: #423d35;
  --white: #edecec;
  --text-color: #edecec;
  --text-muted: #969592;
  --primary: #dd4407;
  --body-font: "Roboto", sans-serif;
  --header-font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--base);
  font-family: var(--body-font);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--primary);

  &:hover {
    opacity: 0.8;
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.btn {
  border-radius: 30px;
  padding: 6px 12px;
  border: none;
  background: none;
  color: var(--text-color);
  border: 1px solid transparent;

  &.btn-outline {
    border: 1px solid #333;
  }
  &.btn-white {
    background: var(--white);
    color: #000;
  }
  &.btn-big {
    padding: 12px 18px;
    font-size: 16px;
  }
}

.text-light {
  color: var(--text-color);
}

.text-primary {
  color: var(--primary);
}

header {
  position: sticky;
  top: 0;
  background: var(--base);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;

  .logo-container {
    width: 95px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 30px;
      font-size: 14px;
    }
    a {
      color: var(--text-color);
    }
  }
}

.hero-section {
  padding-block-start: 80px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  h1 {
    font-size: 34px;
  }

  h4 {
    color: var(--text-muted);
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.leading-container {
  padding-block-start: 80px;

  p {
    text-align: center;
  }

  .lead-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-block-start: 24px;
    gap: 10px;
    .lead {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #222121;
      border-radius: 5px;
      padding: 35px;
      background: #1b1913;
    }
  }
}

.demo {
  margin-block-start: 60px;

  img {
    border-radius: 5px;
  }
}

.engine {
  margin-block-start: 80px;

  .engine-container {
    border: 1px solid #222121;
    border-radius: 6px;
    padding: 20px;
    background: var(--card-bg);
    display: grid;
    align-items: center;
    grid-template-columns: auto 67%;
    gap: 30px;
    &.order-reverse {
      grid-template-columns: 67% auto;
      .text-container {
        order: 2;
      }
    }
  }

  .text-container {
    h6 {
      width: 90%;
      font-size: 22px;
      color: var(--text-muted);
      margin-bottom: 20px;
    }
  }

  img {
    border-radius: 4px;
  }
}

.testimonials {
  margin-block-start: 80px;

  h2 {
    text-align: center;
    font-size: 40px;
    margin-block-end: 44px;
  }

  .testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    .testimonials-card {
      background: #1b1913;
      padding: 20px;
      border-radius: 4px;
      border: 1px solid #222121;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 280px;

      p {
        line-height: 22px;
      }

      .profile-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 10% auto;

        img {
          border-radius: 4px;
        }
      }
    }
  }
}

.frontier {
  margin-block-start: 180px;

  h2 {
    font-size: 24px;
    margin-block-end: 20px;
  }

  .frontier-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 12px;
  }

  .frontier-card {
    padding: 16px;
    background: #1b1913;
    border: 1px solid #222121;
    border-radius: 4px;
    h6 {
      font-size: 16px;
    }
    p {
      color: var(--text-muted);
      margin-block-end: 20px;
      margin-block-start: 5px;
    }

    a {
      color: var(--primary);
    }

    img {
      border-radius: 4px;
      margin-block-start: 20px;
    }
  }
}

.changelog {
  margin-block-start: 180px;

  h2 {
    font-size: 24px;
    margin-block-end: 20px;
  }

  .changelog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 12px;
    margin-block-end: 30px;
  }

  .changelog-card {
    padding: 16px;
    background: #1b1913;
    border: 1px solid #222121;
    border-radius: 4px;
    h6 {
      font-size: 16px;
      width: 90%;
    }
    p {
      color: var(--text-muted);
      margin-block-end: 20px;
      margin-block-start: 5px;

      span {
        display: inline-block;
        border: 1px solid #ffffffce;
        padding: 2px 10px;
        border-radius: 30px;
        margin-right: 10px;
        font-size: 12px;
      }
    }
  }
}

.contact {
  margin-block-start: 130px;

  h1 {
    font-size: 40px;
    margin-block-end: 20px;
  }

  img {
    margin-block-start: 40px;
    border-radius: 4px;
  }
}

.highlights {
  margin-block-start: 120px;
  background: #1b1913;
  padding-block: 120px;

  .highlights-container {
    display: flex;
    gap: 120px;

    .highlights-card-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-block-end: 20px;

      .highlights-card {
        padding: 12px;
        background: #26241e;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .text-container {
          h6 {
            margin-block-end: 5px;
            font-size: 18px;
          }
          p {
            color: var(--text-muted);
            width: 90%;
          }
        }

        .date-container {
          display: flex;
          gap: 4px;
          align-items: center;
          color: var(--text-muted);

          p:nth-child(2) {
            margin-top: -15px;
            font-size: 30px;
          }
        }
      }
    }
  }
}

.try {
  margin-block-start: 120px;

  .try-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

    h1 {
      font-size: 70px;
    }
  }
}

footer {
  margin-block-start: 120px;
  background: #1b1913;
  padding-block-start: 80px;
  padding-block-end: 40px;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .footer-card {
      h6 {
        color: var(--text-muted);
        font-size: 16px;
      }

      ul {
        display: flex;
        margin-block-start: 14px;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .footer-copyright-container {
    margin-block-start: 100px;

    display: flex;
    justify-content: space-between;

    .left {
      color: var(--text-muted);

      span {
        display: inline-block;
        margin-inline-end: 10px;
      }
    }

    .right {
      .icon-container {
        display: flex;
        flex-direction: row;
        background: #26241e;
        padding: 4px 12px;
        border-radius: 30px;
        gap: 5px;
        justify-content: center;
        align-items: center;
        & .active {
          border-radius: 50%;
          padding: 5px;
          background: #3a3833;
        }
      }
    }
  }
}
